<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>博客后台管理</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/admin.css" />
  <link rel="stylesheet" href="/static/lib/github.min.css" />
</head>
<body>
  <div id="root"></div>
  <div class="toast" id="toast"></div>

  <script src="/static/lib/marked.min.js"></script>
  <script src="/static/lib/purify.min.js"></script>
  <script src="/static/lib/highlight.min.js"></script>
  <script src="/static/js/admin.js"></script>
</body>
</html>
